 <div class="asside-panel assideNav-panel fixed left top bottom animate scrollbar scroll-y">
  <ul class="list nav-list">
    
        <li class="nav-item">
          <span class="icon icon-sm nav-icon inline"><i class="fa fa-user" aria-hidden="true"></i></span>
          <%= link_to 'Employees',root_path ,class: "nav-link"%>
        </li>
        <li class="nav-item">
          <span class="icon icon-sm nav-icon inline"><i class="fa fa-th" aria-hidden="true"></i></span>
          <%= link_to "Departments",departments_path ,class: "nav-link"%>
        </li>

        <li class="nav-item">
          <span class="icon icon-sm nav-icon inline"><i class="fa fa-user" aria-hidden="true"></i></span>
          <%= link_to "Suppliers",suppliers_path ,class: "nav-link"%>
        </li>

        <li class="nav-item">
          <span class="icon icon-sm nav-icon inline"><i class="fa fa-tag" aria-hidden="true"></i></span>
          <%= link_to "Categories",categories_path ,class: "nav-link"%>
        </li>

        <li class="nav-item">
          <span class="icon icon-sm nav-icon inline"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
          <%= link_to "Products",products_path ,class: "nav-link"%>
        </li> 
        <li class="nav-item">
          <span class="icon icon-sm nav-icon inline"><i class="fa fa-address-card" aria-hidden="true"></i></span>
          <%= link_to "Customers",customers_path ,class: "nav-link"%>
        </li>   
  </ul>
</div>
